<body>
  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <div>
        <%= form_for(@todo, remote: true) do |f| %> 
          <%= f.text_field :name, placeholder: "What needs to be done?", id: "new-todo" %>
        <% end %>      
      </div>
    </header>
    <section id="main">
      <ul id="todo-list">
      <ul id="todo-list">
        <% @todos.each do |todo| %>
          <li class="todo">
            <%= link_to todo.name, todo_path(todo), class: "name" %>
            <%= link_to "X", todo_path(todo), remote: true, method: :delete, class: "delete-x" %>
          </li>
        <% end %>
      </ul>
    </section>
  </section>
</body>
